.highlights_section {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid #eee;
}

.highlight {
  display: flex;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 2rem;
  padding: 1.5rem;
}

.highlight > p {
  font-size: 18px;
  text-align: center;
  margin: 0;
}